name: Docker Build Multi-platform

on:
  workflow_dispatch: # 允许手动触发工作流程
  push: # 当代码推送到仓库时触发工作流程
    tags:
      - *

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            arch: amd64
          - platform: linux/arm64
            arch: arm64

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true # 检出子模块

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: ${{ matrix.platform }}

      - name: Build and Export Docker Image
        run: |
          docker version
          docker info
          docker buildx version
          docker buildx create --use
          docker buildx build --file ./Dockerfile --platform ${{ matrix.platform }} --tag ${{ github.event.repository.name }}:${{ github.ref_name }}-${{ matrix.arch }} --output type=docker,dest=${{ github.event.repository.name }}-${{ matrix.arch }}.tar --no-cache --pull .
          ls -lh ${{ github.event.repository.name }}-${{ matrix.arch }}.tar

#      - name: Build Docker image
#        uses: docker/build-push-action@v6
#        with:
#          no-cache: true # 禁用缓存
#          platforms: ${{ matrix.platform }} # 构建多平台镜像
#          pull: true # 确保使用最新的基础镜像
#          provenance: mode=min
#          outputs: type=docker,dest=./${{ github.event.repository.name }}-${{ matrix.arch }}.tar
#          context: .
#          file: ./Dockerfile
#          tags: ${{ github.event.repository.name }}:${{ github.ref_name }}-${{ matrix.arch }}

      - name: Compress Docker image
        run: |
          gzip ${{ github.event.repository.name }}-${{ matrix.arch }}.tar
          ls -lh ${{ github.event.repository.name }}-${{ matrix.arch }}.tar.gz

      - name: Upload Docker image
        uses: actions/upload-artifact@v4
        with:
          name: ${{ github.event.repository.name }}-${{ github.ref_name }}_${{ matrix.arch }}
          path: ${{ github.event.repository.name }}-${{ matrix.arch }}.tar.gz
          retention-days: 12 # 保留 12 天
          compression-level: 0 # 压缩级别 0
